.shape-oval {
  display: inline-block;
  width: 200px;
  height: 100px;
  background: inherit;
  border-radius: 100px / 50px;
  margin: 6px;
}

.shape-rectangle {
  display: inline-block;
  width: 200px;
  height: 100px;
  background: inherit;
  margin: 6px;
}

.shape-square {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: inherit;
  margin: 6px;
}

.shape-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: inherit;
  border-radius: 50%;
  margin: 6px;
}

.shape-parallelogram {
  display: inline-block;
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: inherit;
  margin: 6px;
}

.shape-triangle-danger {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #dc3545;
  margin: 6px;
}

.shape-triangle-primary {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0d6efd;
  margin: 6px;
}

.shape-triangle-success {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #198754;
  margin: 6px;
}

.shape-triangle-warning {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ffc107;
  margin: 6px;
}

.shape-triangle-info {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0dcaf0;
  margin: 6px;
}

.shape-triangle-secondary {
  background: transparent !important;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #6c757d;
  margin: 6px;
}

.bg-active {
  background-color: rgba(127, 255, 212, 0.496);
}